.homepage-background {
  font-family: 'Roboto', sans-serif;
  background-image: url('../assets//wallpaperflare.com_wallpaper.jpg'); /* Update with the path to your Home background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #010416;
  padding: 20px;
}


@keyframes gradientChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.homepage-container {
  padding: 20px;
}

.homepage-heading {
  font-size: 3rem; /* Adjust font size as needed */
  font-weight: bold; /* Add font weight */
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.animate-name-waseem {
  color: #f58220;
  animation: colorChange 1.5s infinite;
  font-weight: bold; /* Add font weight */
}

.animate-name-akram {
  color: #20a3f5;
  animation: colorChange 1.5s infinite reverse;
  font-weight: bold; /* Add font weight */
}

.homepage-text {
  font-size: 1.2rem; /* Adjust font size as needed */
  margin-bottom: 20px;
  font-weight: bold; /* Add font weight */
}

@keyframes colorChange {
  0%, 100% {
    color: #f58220;
  }
  50% {
    color: #20a3f5;
  }
}

.hire-me-button {
  background-color: #bbbbd3;
  border: none;
  font-size: 1rem; /* Adjust font size as needed */
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  font-weight: bold; /* Add font weight */
}

.hire-me-button:hover {
  background-color: #6119bf;
}

.water-bubble {
  position: relative;
  overflow: hidden;
}

.water-bubble:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  animation: bubble 2s infinite;
}

@keyframes bubble {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(-500px) translateX(100px);
    opacity: 0;
  }
}
