/* App.css or your custom CSS file */

body {
  background-color: #000000; /* Light grey background color */
  font-family: 'Roboto', sans-serif; /* Material-UI default font */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Your other CSS styles for components and content go here */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
